<section class="souvenirs" id="souvenirs">
  <div class="souvenirs-inner">
    <div class="souvenirs-text">
      <span class="section-tag dark">Tienda Splash</span>
      <h2>Llévate un recuerdo</h2>
      <ul class="souvenirs-list">
        <li>Trajes de baño</li>
        <li>Flotadores</li>
        <li>Lentes de sol</li>
        <li>Goggles</li>
        <li>Sombreros &amp; gorras</li>
        <li>Toallas</li>
        <li>Llaveros</li>
        <li>Vasos de colores</li>
      </ul>
    </div>
    <div class="souvenirs-img">
      <div class="souvenirs-img-fallback"></div>
      <img src="/souvenirs.jpg" alt="Tienda Splash" loading="lazy" />
    </div>
  </div>
</section>
