<section class="souvenirs" id="souvenirs">
  <div class="souvenirs-inner">
    <div class="souvenirs-text">
      <span class="section-tag dark" data-i18n="souv-tag">Tienda Splash</span>
      <h2 data-i18n="souv-title">Llévate un recuerdo</h2>
      <ul class="souvenirs-list">
        <li data-i18n="souv-1">Trajes de baño</li>
        <li data-i18n="souv-2">Flotadores</li>
        <li data-i18n="souv-3">Lentes de sol</li>
        <li data-i18n="souv-4">Goggles</li>
        <li data-i18n="souv-5">Sombreros &amp; gorras</li>
        <li data-i18n="souv-6">Toallas</li>
        <li data-i18n="souv-7">Llaveros</li>
        <li data-i18n="souv-8">Vasos de colores</li>
      </ul>
    </div>
    <div class="souvenirs-img">
      <div class="souvenirs-img-fallback"></div>
      <img src="/souvenirs.jpg" alt="Tienda Splash" loading="lazy" />
    </div>
  </div>
</section>
